<div class="card trip-card light-blue darken-2">
  <div class="card-content white-text hoverable">
    <div class="card-title"><%= location.name %></div>
    <ul>
      <li><%= location.address %></li>
      <li><%= location.phone_number %></li>
      <li><%=link_to "go to website", "#{location.website_url}", target: "_blank", class: "location-details-website-link" %></li>
      <br>

      <li>Tip: <%= location.personal_note %></li>
      <li>Time needed: <%= location.duration %></li>
    </ul>
  </div>
<div class="divider"></div>
  <div class="card-action white">
    <a href="https://www.google.com/maps/dir/Current+Location/<%= location.address.split().join('+') %>" target='_blank' class="orange-text text-accent-2">Get Directions</a>
  </div>
</div>

