<% random_colors = ["light-blue darken-2", "deep-orange darken-2", "purple darken-2", "pink darken-2", " light-green accent-4"] %>

<div class="card trip-card <%=random_colors.sample%>">
  <div class="card-content white-text">
    <span class="card-title activator grey-text text-darken-4"><%= link_to trip.name, trip_path(trip) %><i class="material-icons white-text right">more_vert</i></span>
    <p>Created by: <%= trip.creator.formatted_name %> <%= time_ago_in_words(trip.created_at) %> ago</p>
  </div>

  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= link_to trip.name, trip_path(trip), class: "grey-text text-darken-4" %><i class="material-icons right">close</i></span>
    <% trip.locations.each_with_index do |location, idx| %>
      <p class="light-blue-text text-darken-2"><b>Location <%=idx + 1%>:</b> <%= location.name %></p>
    <% end %>
  </div>

  <div class="divider"></div>

  <div class="card-action">
    <%= link_to "View Trip", trip_path(trip), class: "white-text" %>
    <span class="right white-text"><i class="material-icons">done</i><%= trip.attendees.count %></span>
    <span class="right white-text"><i class="material-icons">star</i><%= trip.favorites.count %></span>

    <% if trip.tags.count > 0 %>
    <br>
    <br>
      <% trip.tags.each do |tag| %>
        <div class="chip grey lighten-5">
          #<%= tag.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
