<div class="container">
  <h1>Pick A Day Trip</h1>

  <section id="search-bar">
    <div class="input-field">
      <%= form_tag(trips_path, :method => "get") do %>
        <%= text_field_tag :search, params[:search], :placeholder => "Search for a trip by tag name(ex. 'foodie', 'SoHo', 'beer')"%>
        <div id="search-button">
          <%= submit_tag("Search", :class => "waves-effect waves-light btn-large light-blue")  %>
        </div>
      <% end %>

      <div id="explore-button">
        <a href="/tags" class="waves-effect waves-light btn-large light-blue">explore</a>
      </div>
    </div>
  </section>

  <%if @message %>
    <p> <%=@message %></p>
  <% end %>

  <div class="container" id="trip-index-container">
    <div class="row">
      <h1 class="trip-index-header"><%= @header %></h1>

      <div class="col s12 m6 l6 trip-column">
        <% @trips_to_display.first( 10 ).each do | trip | %>
          <%= render partial: 'trip_card', locals: { trip: trip } %>
        <% end %>
      </div>

      <div class="col s12 m6 l6 trip-column">
        <% if @trips_to_display[ 11..20 ] %>
          <% @trips_to_display[ 11..20 ].each do |trip| %>
            <%= render partial: 'trip_card', locals: { trip: trip } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="center">
      <a href="/tags" class="waves-effect waves-light btn-large deep-orange">explore</a>
    </div>
  </div>
</div>
