<div class="container">
  <h1><%= @trip.name %></h1>
  <div id="trip-map"></div>

  <div class="chip">
      <% @trip.tags.each do |tag| %>
          #<%= tag.name %>
        <% end %>
    </div>

    <% if user_signed_in? %>
    <div class="favorite-form-container">
      <%= render 'favorite_form' %>
    </div>
  <% end %>

  <% @locations.each_with_index do |location, idx| %>
  <h2>Location <%=idx + 1%></h2>
  <div class="card">
    <div class="card-image">
      <img src=<%= location.picture_url %> >
        <span class="card-title"><%= location.name %></span>
    </div>
    <div class="card-content">
      <ul>
        <li><%= location.address %></li>
        <li><%= location.phone_number %></li>
        <li><%=link_to location.website_url, "#{location.website_url}", target: "_blank"%></li>
        <li>Note from your tour guide: <%= location.personal_note %></li>
        <li>Approximate Duration: <%= location.duration %> hour(s)</li>
        <a href="https://www.google.com/maps/dir/Current+Location/<%= location.address.split().join('+') %>" target='_blank'>Get Directions</a>
      </ul>
    </div>
    </div>
  <%end %>

  <% if user_signed_in? %>
      <div class="attend-form-container">
        <%= render 'attend_form' %>
      </div>
  <% end %>

  <br>

  <div class="comments-container">
    <h3>Comments: </h3>
    <% @trip.comments.each do |comment| %>
      <div class="comment-body">
        <p><%= comment.body %></p>
        <% if current_user == comment.user %>
          <%= link_to "edit comment", edit_comment_path(comment) %>
          <%= form_for(comment, :html => { :method => :delete, class: "delete-comment-button"}) do |f| %>
            <%= hidden_field_tag "trip_id", "#{@trip.id}"  %>
            <%= f.submit "delete comment", class: "waves-effect waves-light btn" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="new-comment-button">
      <%= form_for(@comment, url: new_comment_path, method: :get ) do |f| %>
        <%= hidden_field_tag "trip_id", "#{@trip.id}"  %>
        <%= f.submit "add comment", class: "waves-effect waves-light btn light-blue" %>
      <% end %>
    </div>
  <% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Bo_Dd2UfKD6HYbDmGNbCKy-pFivNcmw&libraries=places&callback=initMap"
  async defer></script>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('trip-map'), {
      center: {lat: 40.712784, lng: -74.005941},
      zoom: 11,
    });

    $.ajax({
      url: window.location.href + '/locations.json'
    }).done( function( response ) {
      response.locations.map( function( location ) {
        var locationComponents = location.address.split( ' ' ).join( '+' )
        var contentString =
          '<div id="content">'+
            '<div id="siteNotice"></div>'+
            '<h5 id="firstHeading" class="firstHeading">'+
              location.name +
            '</h5>'+

            '<div id="bodyContent">'+
              '<p>'+ location.address +'</p>' +
              '<a href='+ 'https://www.google.com/maps/dir/Current+Location/' + locationComponents + ' target='+ '_blank' +'>Get Directions</a>'
            '</div>'+
          '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: { lat: location.latitude, lng: location.longitude },
          map: map,
          title: 'Hello World'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        map.addListener( 'click', function() {
          infowindow.close();
        });
      });
    }.bind( map ));
  };
</script>
