<div class="container">
  <h1 class="center"><%= @trip.name %></h1>
    <h6 class="center">Created by: <%= link_to @trip.creator.formatted_name, user_path(@trip.creator) %> (<%= time_ago_in_words(@trip.created_at)%> ago) </h6>

    <div class="section center">
    <% @trip.tags.each do |tag| %>
      <div class="chip grey lighten-2 center hoverable">
        #<%= link_to tag.name, tag_path(tag), class: "grey-text text-darken-3" %>
      </div>
    <% end %>
  </div>
    <br>
  <% if user_signed_in? %>
    <span class="favorite-form-container left">
      <%= render 'favorite_form' %>
    </span>
    <span class="attend-form-container right">
        <%= render 'attend_form' %>
    </span>
  <% end %>
</div>


  <div id="trip-map"></div>


<div class="container">
  <div class="row">
    <div class="col s12 m12 l6">
      <% @locations.each_with_index do |location, idx| %>
        <h5>Location <%=idx + 1%></h5>
          <%= render partial: 'location_details', locals: { location: location } %>
      <% end %>
    </div>

  <div class="col s12 m12 l6">
    <div class="creator-comments-container">
      <h5>Comments by the Trip Creator:</h5>
      <% if @creator_comments.length == 0 %>
        <p class="no-comments-message">No comments by the trip creator.</p>
      <% else %>
      <p class="no-comments-message hidden-comments-message">No comments by the trip creator.</p>
      <% @creator_comments.each do |comment| %>
      <div class="container comment-body">
        <blockquote>
        <p><%= comment.body %><span class="tiny-font">   posted <%= time_ago_in_words(comment.created_at) %> ago</span></p>
        <p>Commenter: <%= link_to comment.user.formatted_name, user_path(comment.user) %></p>
        <% if current_user == comment.user %>
            <%= link_to edit_comment_path(comment), class: "e-link" do %>
              <i class="tiny material-icons">mode_edit</i>
            <% end %>
            <%= form_for(comment, :html => { :method => :delete, class: "d-button"}) do |f| %>
              <%= hidden_field_tag "trip_id", "#{@trip.id}"  %>
              <%= button_tag(class: "delete-button") do %>
                <i class="tiny material-icons">delete</i>
              <% end %>
            <% end %>
        <% end %>
        </blockquote>
      </div>
      <% end %>
      <% end %>
    </div>

  <% if user_signed_in? && current_user == @trip.creator %>
    <div class="new-comment-creator-button">
      <%= form_for(@comment, url: new_comment_path, method: :get ) do |f| %>
        <%= hidden_field_tag "trip_id", "#{@trip.id}"  %>
        <%= f.submit "add comment", class: "waves-effect waves-light btn deep-orange" %>
      <% end %>
    </div>
  <% end %>

    <div class="not-creator-comments-container">
      <h5>Comments: </h5>
      <% if @user_comments.length == 0 %>
        <p class="no-comments-message">No comments for this trip currently</p>
      <% else %>
        <p class="no-comments-message hidden-comments-message">No comments for this trip currently</p>
      <% @user_comments.each do |comment| %>
        <div class="container comment-body">
          <blockquote>
          <p><%= comment.body %><span class="tiny-font">   posted <%= time_ago_in_words(comment.created_at) %> ago</span></p>
          <p>Commenter: <%= link_to comment.user.formatted_name, user_path(comment.user) %></p>
          <% if current_user == comment.user %>
            <%= link_to edit_comment_path(comment), class: "e-link" do %>
              <i class="tiny material-icons">mode_edit</i>
            <% end %>
            <%= form_for(comment, :html => { :method => :delete, class: "d-button"}) do |f| %>
              <%= hidden_field_tag "trip_id", "#{@trip.id}"  %>
              <%= button_tag(class: "delete-button") do %>
                <i class="tiny material-icons">delete</i>
              <% end %>
            <% end %>
          <% end %>
          </blockquote>
        </div>
      <% end %>
      <% end %>
    </div>

  <% if user_signed_in? && current_user != @trip.creator %>
    <div class="new-comment-not-creator-button">
      <%= form_for(@comment, url: new_comment_path, method: :get ) do |f| %>
        <%= hidden_field_tag "trip_id", "#{@trip.id}"  %>
        <%= f.submit "add comment", class: "waves-effect waves-light btn deep-orange" %>
      <% end %>
    </div>
  <% end %>
</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Bo_Dd2UfKD6HYbDmGNbCKy-pFivNcmw&libraries=places&callback=initMap"
  async defer></script>

<script>
  var coordinates = {}
  $.ajax({
    url: window.location.href + '/coordinates'
  }).done( function( response ) {
    obj = JSON.parse(response);
    coordinates.lat = obj.lat;
    coordinates.lng = obj.lng;
    initMap();
  });

  function initMap() {
    var map = new google.maps.Map(document.getElementById('trip-map'), {
      center: coordinates,
      zoom: 11,
      scrollwheel: false,
    });

    $.ajax({
      url: window.location.href + '/locations.json'
    }).done( function( response ) {
      response.locations.map( function( location ) {
        var locationComponents = location.address.split( ' ' ).join( '+' )
        var contentString =
          '<div id="content">'+
            '<div id="siteNotice"></div>'+
            '<h5 id="firstHeading" class="firstHeading">'+
              location.name +
            '</h5>'+

            '<div id="bodyContent">'+
              '<p>'+ location.address +'</p>' +
              '<a href='+ 'https://www.google.com/maps/dir/Current+Location/' + locationComponents + ' target='+ '_blank' +'>Get Directions</a>'
            '</div>'+
          '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: { lat: location.latitude, lng: location.longitude },
          map: map,
          title: 'Hello World'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        map.addListener( 'click', function() {
          infowindow.close();
        });
      });
    }.bind( map ));
  };
</script>
</div>



<% if user_signed_in? %>
  <% if !@trip.creator.user_followed?( current_user ) && @trip.creator != current_user %>
    <div class="popup center">
      <a href="#" class="close-popup right"><i class="material-icons">close</i></a>
      <%= form_for( :follow, url: '/users/follow', html: {class: "follow-submit-trip"} ) do |f| %>
        <%= f.hidden_field :follower_id, value: current_user.id %>
        <%= f.hidden_field :followed_id, value: @trip.creator.id %>
        <%= button_tag(type: "submit", class: "btn-floating btn-large waves-effect waves-light light-blue darken-2 right") do %>
              <i class="material-icons">person_add</i>
        <% end %>
                <div class="section right">
      <p class="grey-text text-darken-3 left">Follow <%=@trip.creator.formatted_name%></p>
    </div>
      <% end %>
      <br>
    </div>
  <% end %>
<% end %>
