<div class="container comment-body">
  <blockquote>
  <p><%= comment.body %><span class="tiny-font">   posted <%= time_ago_in_words(comment.created_at) %> ago</span></p>
  <p>Commenter: <%= link_to comment.user.formatted_name, user_path(comment.user) %></p>
  <% if current_user == comment.user %>
    <%= link_to edit_comment_path(comment), class: "e-link" do %>
    <i class="tiny material-icons">mode_edit</i>
    <% end %>
    <%= form_for(comment, :html => { :method => :delete, class: "d-button"}) do |f| %>
      <%= hidden_field_tag "trip_id", "#{trip.id}"  %>
      <%= button_tag(class: "delete-button") do %>
        <i class="tiny material-icons">delete</i>
      <% end %>
    <% end %>
  <% end %>
  </blockquote>
</div>