<%= form_for comment, :html => {class: "comment-submit"} do |f| %>

<% if comment.errors.any? %>
  <p><%=pluralize(comment.errors.count, "error") %> prevented this item from saving.</p>
  <ul>
    <% comment.errors.full_messages.each do |message| %>
      <li class="error-message"><%= message %></li>
    <% end %>
<%end%>
<label for="body">Write a comment</label>
  <div class="input-field">
    <%=f.text_field :body, hide_label: true %>
  </div>
  <%=f.hidden_field :trip_id, :value => trip.id %>
  <%=f.hidden_field :user_id, :value => current_user.id %>
  <%=f.submit "Comment", class: "waves-effect waves-light btn deep-orange" %>
  <a href="#" class="close-comment">cancel</a>
<% end %>

