<div class="container">

      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <% if @user.picture_url == nil %>
              <i class="material-icons">account_circle</i>
              <% else %>
              <img src=<%= @user.picture_url %>>
              <% end %>
              <span class="card-title"><%= @user.formatted_name %></span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
  <h2>Profile:</h2>
<h3>Location: <%= @user.location %></h3>
<h3>Trips Curated: <%= @user.trips.count %></h3>

<h2>My Trips:</h2>
<% @user.trips.each do |trip| %>
  <ul>
    <li><%= trip.name %> created <%= time_ago_in_words(trip.created_at) %> ago</li>

      <ul>
      <% trip.locations.each do |location| %>
        <li><%= location.name %></li>
    <% end %>
      </ul>
  </ul>
<% end %>

<h2>Favorites:</h2>
<% @user.favorites.each do |favorite| %>
  <%= favorite.trip.name %> made by <%=favorite.trip.creator.formatted_name %>

<% end %>

</div>