  <div class="col s12 m6">
    <h3>Compose a new message</h3>
  </div>

<div class="col s12 m6">

<%= form_for :conversation, url: :conversations, html: { class: "col s12" } do |f| %>
    <div>
      <%= f.label :recipients %>
        <%= f.select(:recipients, User.where( allow_messages: true ).collect {|p| [ p.formatted_name, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>

    </div>

    <div class="input-field">
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>

    <div class="input-field">
      <%= f.text_area :body, id: "textarea1", class: 'form-control materialize-textarea', placeholder: "Type your message here", rows: 4  %>
      </div>

    <%= f.submit "Send Message", class: "waves-effect waves-light btn deep-orange" %>

<% end %>

</div>
