<!-- This form is /conversations/:id (You reply back and forth here) -->

<div class="container">
  <div class="row center">
    <% if @receipts.first.message.sender != current_user %>
      <% if @receipts.first.message.sender.picture_url != nil %>
        <a href=<%= user_path(@receipts.first.message.sender) %> >
          <img class="circle responsive-img inbox-img" src=<%= @receipts.first.message.sender.picture_url %> >
        </a>
        <% else %>
        <a href=<%= user_path(@receipts.first.message.sender) %> >
          <i class="medium material-icons light-blue-text text-darken-2">account_circle</i>
        </a>
      <% end %>
        <h5>Conversation with: <%= @receipts.first.message.sender.formatted_name %></h5>
    <% else %>
      <% if @receipts.first.conversation.recipients[0].picture_url != nil %>
        <a href=<%= user_path(@receipts.first.conversation.recipients[0]) %> >
          <img class="circle responsive-img inbox-img" src=<%= @receipts.first.conversation.recipients[0].picture_url %> >
        </a>
      <% else %>
        <a href=<%= user_path(@receipts.first.message.sender) %> >
          <i class="medium material-icons light-blue-text text-darken-2">account_circle</i>
        </a>
      <% end %>
      <% if @receipts.first.conversation.recipients[0].picture_url == nil %>
        <h5>Conversation with: <%= link_to @receipts.first.conversation.recipients[0].formatted_name, user_path(@receipts.first.conversation.recipients[0]) %></h5>
      <% else %>
        <h5>Conversation with: <%= @receipts.first.conversation.recipients[0].formatted_name %></h5>
      <% end %>
    <% end %>
    <h5>Subject: <%= @receipts.first.message.subject %></h5>
  </div>

    <% @receipts.each do |receipt| %>
      <% message = receipt.message %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card message-card light-blue darken-2">
            <div class="card-content white-text">
                <%= message.body %>
            </div>
            <small class="right grey-text"><%=  message.created_at.strftime("%-m/%-d/%y %l:%M%P") %> (about <%= time_ago_in_words(message.created_at) %> ago)</small>
            <small class="left grey-text"><%=  message.sender.formatted_name %></small>
          </div>
        </div>
      </div>
  <% end %>
</div>