<!-- This form is /conversations/:id (You reply back and forth here) -->

<div class="container">
  <div class="row center">
    <% if @receipts.first.message.sender.picture_url != nil %>
      <a href=<%= user_path(@receipts.first.message.sender) %> >
        <img class="circle responsive-img inbox-img" src=<%= @receipts.first.message.sender.picture_url %> >
      </a>
    <% end %>
    <% if @receipts.first.message.sender.picture_url == nil %>
      <h5>Conversation with: <%= link_to @receipts.first.message.sender.formatted_name, user_path(@receipts.first.message.sender) %></h5>
    <% else %>
      <h5>Conversation with: <%= @receipts.first.message.sender.formatted_name %></h5>
    <% end %>
    <h5>Subject: <%= @receipts.first.message.subject %></h5>
  </div>

    <% @receipts.each do |receipt| %>
      <% message = receipt.message %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card message-card light-blue darken-2">
            <div class="card-content white-text">
                <%= message.body %>
            </div>
            <small class="right grey-text"><%=  message.created_at.strftime("%-m/%-d/%y %l:%M%P") %> (about <%= time_ago_in_words(message.created_at) %> ago)</small>
            <small class="left grey-text"><%=  message.sender.formatted_name %></small>
          </div>
        </div>
      </div>
  <% end %>
</div>