<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h3>Inbox</h3>
      <%= link_to "Compose", new_conversation_path, class: "waves-effect waves-light btn deep-orange" %>
    </div>
  </div>

  <div class="row">
    <%= render 'mailbox/folders' %>
  </div>



  <div class="row center">
    <div class="col s12">
    <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'Untrash', untrash_conversation_path(conversation), class: "waves-effect waves-light btn light-blue darken-2", method: :post %>
    <% else %>
        <%= link_to 'Move to trash', trash_conversation_path(conversation), class: "waves-effect waves-light btn light-blue darken-2", method: :post,
                    data: {confirm: 'Are you sure?'} %>
    <% end %>
    </div>
  </div>

  <%= render partial: 'messages' %>



  <div class="container">
    <!-- Reply Form -->
    <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
        <div class="input-field col s12 m6">
          <%= f.text_area :body, rows: 4, id: "textarea1", class: "materialize-textarea" %>
          <label for="textarea1">Reply Message</label>
        </div>

        <div class="section center">
        <%= f.submit "Reply", class: "waves-effect waves-light btn deep-orange" %>
        </div>
    <% end %>
  </div>
  </div>

