<div class="container">
  <div class="card" id="profile-card">
    <div class="container">
      <div class="card-content center">
      <% if @user.picture_url != nil %>
        <img class="responsive-img circle profile-pic" src="<%= @user.picture_url %>">
      <% else %>
        <i class="large material-icons light-blue-text text-darken-2">account_circle</i>
      <% end %>
      <h3 class="username"><%= @user.formatted_name%></h3>
        <div class="row">
          <div class="col s12 m6 l6">
            <% if @user.location != nil %>
              <p>Location: <%= @user.location %></p>
            <% else %>
              <p>Location: N/A</p>
            <% end %>
            <p>Bio: <%=@user.bio%></p>
            <% if @user == current_user %>
              <%= link_to "Edit Your Profile", edit_user_path(@user) %>
            <% end %>
            <% if user_followed?( @user ) %>
                <span class="follow-user-form">
                <%= render partial: '/followers/unfollow', locals: { followed_id: @user.id } %>
                </span>

              <% elsif !user_followed?( @user ) && @user != current_user %>
                <span class="follow-user-form">
                <%= render partial: '/followers/follow', locals: { followed_id: @user.id } %>
                </span>
              <% end %>
          </div>
          <div class="col s12 m6 l6">
            <p>Trips Curated: <%= @user.trips.count %></p>
            <p>Total Trip Attendees: <%= @user.total_trip_attendees %>
            <p>Trips Attended: <%= @user.attended_trips.count %></p>
            <% if @user.available == true && @user != current_user %>
              <p><%= link_to "Message To Request A Tour",new_conversation_path %></p>
              <i class="small material-icons grey-text text-darken-3">directions_walk</i>
            <% elsif @user.available == true %>
              <p>Available for tours</p>
              <i class="small material-icons grey-text text-darken-3">directions_walk</i>
            <% end %>
          </div>
         </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col s12">
      <ul class="tabs">
        <li class="tab col s12"><a href="#tab1">Dashboard</a></li>
        <li class="tab col s12"><a class="active" href="#tab2">My Trips</a></li>
        <li class="tab col s12"><a href="#tab3">Favorites</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="tab1" class="col s12">
      <div class="col s12 m8 l8">
      <h3>Dashboard:</h3>
      <p>Recommended trips for you and trips created by users you're following</p>
      <% if @dashboard_trips[0] != nil%>
        <% @dashboard_trips[0].each do |trip| %>
        <%= render partial: 'trips/trip_card', locals: { trip: trip } %>
        <% end %>
      </div>
      <div class="col s12 m3 l3">
      <h3>Following:</h3>
      <% @followed_users.each do |user| %>
        <div class="hoverable chip">
          <% if user.picture_url != nil %>
          <img src=<%= user.picture_url %>>
          <a href=<%= user_path(user) %> >
          <%= user.formatted_name %>
          </a>
          <% else %>
          <a href=<%= user_path(user) %> >
            <%= user.formatted_name %>
          </a>
          <% end %>
        </div>
      <% end %>
      </div>
      <% else %>
      <p> Start following users and favoriting trips to get suggestions!</p>
      <% end %>

       </div>
    <div id="tab2" class="col s12">
      <h3>My Trips:</h3>
      <% @user.trips.each do |trip| %>
        <%= render partial: 'trips/trip_card', locals: { trip: trip } %>
      <% end %>
    </div>
    <div id="tab3" class="col s12">
      <h3>Favorites:</h3>
      <% @user.favorites.each do |favorite| %>
        <%= render partial: 'trips/trip_card', locals: { trip: favorite.trip} %>
      <% end %>
    </div>









