<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
           <img class="responsive-img circle profile-pic" src="<%= @user.picture_url %>" >
          <span class="username"><%= @user.formatted_name%></span>
          <% if @user.location != nil %>
          <p>Location: <%= @user.location %></p>
          <% else %>
          <p>Location: N/A</p>
          <% end %>
          <p>Trips Curated: <%= @user.trips.count %></p>
          <p>Total Trip Attendees: <%= @user.total_trip_attendees %>
          <p>Trips Attended: <%= @user.attended_trips.count %></p>
        </div>
          <% if user_followed?( @user ) %>
            <div class="card-action">
              <span class="follow-user-form">
                <%= render partial: '/followers/unfollow', locals: { followed_id: @user.id } %>
              </span>
            </div>
          <% elsif !user_followed?( @user ) && @user != current_user %>
            <div class="card-action">
              <span class="follow-user-form">
                <%= render partial: '/followers/follow', locals: { followed_id: @user.id } %>
              </span>
            </div>
          <% end %>
        <div class="card-action">
          <% if @user == current_user %>
          <%= link_to "Edit Your Profile", edit_user_path(@user) %>
          <% end %>
          <% if @user.available == true %>
          <span class="right">Request a Tour</span><i class="small right material-icons grey-text text-darken-3">directions_walk</i>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <h2>My Trips:</h2>

  <% @user.trips.each do |trip| %>
    <%= render partial: 'trips/trip_card', locals: { trip: trip } %>
  <% end %>

  <h2>Favorites:</h2>

  <% @user.favorites.each do |favorite| %>
    <%= render partial: 'trips/trip_card', locals: { trip: favorite.trip} %>
  <% end %>

  <% if @common_trips.length > 1 %>
  <h2>Trip Recommendations</h2>

  <% @common_trips.each do | trip | %>
    <ul>
      <%= render partial: 'trips/trip_card', locals: { trip: favorite.trip} %>
    </ul>
  <% end %>
  <% end %>

  <% if users_following(@user).length > 0 %>
  <h2>Users You're Following</h2>
    <ul>
      <% users_following( @user ).each do | user | %>
        <% @following_user = User.find_by(id: user.followed_id) %>
        <li><%= link_to @following_user.formatted_name, user_path( @following_user ) %></li>
      <% end %>
    </ul>
    <% end %>
</div>
