<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= @user.formatted_name%></span>
           <img class="responsive-img circle" src=<%= @user.picture_url %> >
          <p>Location: <%= @user.location %></p>
          <p>Trips Curated: <%= @user.trips.count %></p>
          <p># of users that attended a trip you created: <%= @user.total_trip_attendees %>
          <p>Trips Attended: <%= @user.attended_trips.count %></p>
        </div>
        <div class="card-action">
          <%= link_to "Edit Your Profile", edit_user_path(@user) %>
        </div>
      </div>
    </div>
  </div>


  <h2>My Trips:</h2>

  <% @user.trips.each do |trip| %>
    <ul>
      <li><%= trip.name %> created <%= time_ago_in_words(trip.created_at) %> ago</li>
      <ul>
        <% trip.locations.each do |location| %>
          <li><%= location.name %></li>
        <% end %>
      </ul>
    </ul>
  <% end %>

  <h2>Favorites:</h2>

  <% @user.favorites.each do |favorite| %>
    <%= favorite.trip.name %> made by <%=favorite.trip.creator.formatted_name %>
  <% end %>

  <h2>Trip Recommendations</h2>

  <% @common_trips.each do | trip | %>
    <ul>
      <li><%= trip.name %></li>
      <%= link_to 'view this trip', trip_path( trip ) %>
    </ul>
  <% end %>
</div>
