<div class="col s12 m6">
    <ul class="collection">
      <li class="<%= active_page(:inbox) %> collection-item">
        <%= link_to mailbox_inbox_path do  %>
        <i class="tiny material-icons">email</i>
        <span>Inbox</span>
        <span class="label label-danger pull-right"><%=unread_messages_count%></span>

        <% end %>
      </li>
      <li class="<%= active_page(:sent) %> collection-item">
        <%= link_to mailbox_sent_path do %>

        <i class="tiny material-icons">message</i>

        <span>Sent</span>

        <% end %>
      </li>

      <li class="<%= active_page(:trash) %> collection-item">
        <%= link_to mailbox_trash_path do %>
        <i class="tiny material-icons">delete</i>

        <span>Trash</span>
        <% end %>
      </li>
  </ul>
</div>
