<div class="container">
  <h1><%= @trip.name %></h1>
  <div id="trip-map"></div>

  <% if user_signed_in? %>
    <div><%= render 'attend_form' %></div>
  <% end %>

  <% @locations.each_with_index do |location, idx| %>
  <h2>Location <%=idx + 1%></h2>
  <div class="card">
    <div class="card-image">
      <img src=<%= location.picture_url %> >
        <span class="card-title"><%= location.name %></span>
    </div>
    <div class="card-content">
      <ul>
        <li><%= location.address %></li>
        <li><%= location.phone_number %></li>
        <li><%=link_to location.website_url, "#{location.website_url}", target: "_blank"%></li>
        <li>Note from your tour guide: <%= location.personal_note %></li>
        <li>Approximate Duration: <%= location.duration %> hour(s)</li>
      </ul>
    </div>
    </div>
  <%end %>

  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('trip-map'), {
        center: {lat: 40.712784, lng: -74.005941},
        zoom: 11,
      });

      $.ajax({
        url: window.location.href + '/locations.json'
      }).done( function( response ) {
        response.locations.map( function( location ) {
          new google.maps.Marker({
            position: { lat: location.latitude, lng: location.longitude },
            map: map,
            title: 'Hello World'
          });
        });
      });
    };
  </script>
</div>
