<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src=<%= location.picture_url %> >
        <span class="card-title"><%= location.name %></span>
      </div>
      <div class="card-content">
        <ul>
          <li><%= location.address %></li>
          <li><%= location.phone_number %></li>
          <li><%=link_to location.website_url, location.website_url, target: "_blank"%></li>
          <%= form_for :location, url: "/trips/#{ trip.id }/locations/#{ location.id }", method: :put do |f| %>
            <label for="Note">Add a Personalized Note</label>
            <div class="input-field">
              <%=f.text_field :personal_note, hide_label: true %>
            </div>
            <label for="Time Needed">Time Needed</label>
            <div class="input-field">
              <%=f.text_field :duration, hide_label: true %>
            </div>
            <%=f.submit "Save" %>
          <% end %>
        </ul>

        <div class="input-field col s6">

        </div>
      </div>
      <div class="card-action">
        <%= button_to "Delete", url: "/trips/#{ trip.id }/locations/#{ location.id }" %>
      </div>
    </div>
  </div>
</div>
