

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card trip-card light-blue darken-2">
      <div class="card-content white-text hoverable">
        <div class="card-title"><%= location.name %></div>
        <ul>
          <li><%= location.address %></li>
          <li><%= location.phone_number %></li>
          <li><%=link_to location.website_url, "#{location.website_url}", target: "_blank"%></li>
          <li>Tip: <%= location.personal_note %></li>
          <li>Time needed: <%= pluralize(location.duration,"hour") %></li>
        </ul>
      </div>
      <div class="card-action white">
        <span class="col 6" id="added">Added!</span>
        <%= link_to "Delete", url: "/trips/#{ trip.id }/locations/#{ location.id }", class: " col 6" %>
      </div>
    </div>
  </div>
</div>
