<nav class="grey lighten-5">
  <div class="container">
    <div class="nav-wrapper grey lighten-5">
      <%= link_to "localeyes", root_path, class: "brand-logo light-blue-text" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons deep-orange-text">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to "Trips", trips_path, class: "grey-text text-darken-4" %></li>
          <li><%= link_to "Profile", user_path(current_user), class: "grey-text text-darken-4"%></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: "delete", class: "grey-text text-darken-4" %></li>
        <% else %>
        <li><%= link_to "Log In", new_user_session_path, class: "grey-text text-darken-4" %></li>
        <li><%= link_to "Join", new_user_registration_path, class: "waves-effect waves-light btn deep-orange"%></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
         <% if user_signed_in? %>
          <li><%= link_to "Trips", trips_path, class: "grey-text text-darken-4" %></li>
          <li><%= link_to "Profile", user_path(current_user), class: "grey-text text-darken-4"%></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: "delete", class: "grey-text text-darken-4" %></li>
        <% else %>
        <li><%= link_to "Join", new_user_registration_path, class: "waves-effect waves-light btn deep-orange"%></li>
        <li><%= link_to "Log In", new_user_session_path, class: "grey-text text-darken-4" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>