<!DOCTYPE html>
<html>
  <head>
    <title>localeyes</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png" />

      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="Site">
    <main class="Site-content">
    <div
    <%= render 'layouts/header' %>
    <%= yield %>
  </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
